@import '../utils/variables';

.postDate {
  float: right;
  color: $white;
}

.postTitle {
  color: $blue;
  text-decoration: none;
  text-transform: capitalize;
  font-family: $fontHeader;
  font-size: 1.2em;
  float: left;
}

.postHeader {
  overflow: hidden;
}

.postsList {
  margin-top: 20px;
}

.postListItem {
  padding: 20px;
  background-color: $black;
  margin-bottom: 20px;
}

.postExcerpt {
  text-align: initial;
  text-decoration: none;
  color: $white;
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;

  .tag {
    display: inline-block;
    background-color: transparent;
    border: 1px solid $blue;
    border-radius: 20px;
    padding: 1.5px 6px;
    font-size: 0.75rem;
    transition: border 0.2s;

    &:hover {
      border: 1px solid $white;
      color: white; // Change text color on hover for better visibility
    }
  }
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.noDecoration {
  text-decoration: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
