@font-face {
  font-family: 'Ubuntu Mono';
  src: local('Ubuntu Mono'),
    url('../fonts/Ubuntu/UbuntuMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'),
    url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
