// Colors
$white: #f8f8ff;
$black: #1f2335;
$blue: #22b7eb;
$grey: #545c7e;

$backgroundDarker: #16161e;
$backgroundDark: #1a1b26;

//Fonts
$fontHeader: 'Ubuntu Mono', monospace;
$fontParagraph: 'Open Sans', sans-serif;
$fontCode: 'Ubuntu Mono', monospace;

// Content
$breakLarge: 992px;
$width: 760px;
