{{ define "title"}} {{ .Title }} | {{ .Site.Params.author }} {{ end }} {{ define
"main" }}

<div>
  <div class="listHeader">
    <h1>{{ .Title }}</h1>
  </div>

  {{ with .Content }}
  <div class="listContent">{{- . -}}</div>
  {{ end }}

  <div>

    {{ with .Pages }}

      {{ range . }}
        <a href="{{ .Permalink }}">
          <div class="postListItem" role="listitem">
            <div class="postHeader">
              <span class="postTitle">{{ .Title }}</span>
              <span class="postDate">{{ .Date.Format "January 2, 2006" }}</span>
            </div>
            <div class="postExcerpt">
              <p>{{ .Summary }}</p>
            </div>
          </div>
        </a>
      {{ end }}

    {{ else }}

      <div class="listContentEmpty">
        Oops, it looks like this page is feeling a little empty. Why not take a moment to reflect on the beauty of simplicity?
      </div>

    {{ end }}

  </div>
</div>

{{ end }}
