@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  body {
    @apply font-sans bg-background text-white leading-relaxed;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-medium;
  }

  h1 {
    @apply text-4xl leading-relaxed;
  }

  section {
    @apply pt-28 lg:pt-24 sm:pt-8 h-screen min-h-[48rem] lg:h-auto;
  }

  section > h2,
  section > h5 {
    @apply text-center text-light;
  }

  section > h2 {
    @apply text-primary mb-11 text-3xl leading-relaxed;
  }

  a {
    @apply text-primary transition-ease
    hover:text-white;
  }

  img {
    @apply block w-full object-cover;
  }
}

@layer components {
  .container-width-sm {
    @apply w-11/12;
  }

  .container-width-lg {
    @apply w-10/12;
  }

  .container-base {
    @apply mx-auto w-9/12 lg:container-width-lg sm:container-width-sm;
  }

  .transition-ease {
    @apply transition ease-in-out duration-300;
  }

  .btn {
    @apply w-max inline-block text-primary cursor-pointer py-3 px-5
    border border-solid border-primary rounded-md transition-ease
    enabled:hover:bg-white enabled:hover:text-background enabled:hover:border-transparent
    disabled:cursor-not-allowed;
  }

  .btn-primary {
    @apply bg-primary text-background;
  }
}
