@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital@0;1&display=swap');


$marginSmall: .5rem;
$marginMedium: 1rem;
$marginLarge: 2rem;


html {
  font-size: 16px;
}


@media (max-width: 540px), (max-height: 460px) {
  html {
    font-size: 10px;
  }
}


@mixin fadeAndScale($duration, $delay) {
  animation-name: fadeAndScale;
  animation-duration: $duration;
  animation-timing-function: cubic-bezier(.39, -1.05, .58, 1.95);
  animation-delay: $delay;
  transform-origin: center bottom;

  @keyframes fadeAndScale {
    0% {
      opacity: 0;
      transform: scale3d(.75, .75, 1);
    }
  
    70% {
      opacity: 0;
      transform: scale3d(.75, .75, 1);
    }
  
    100% {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }
}


@mixin fade($duration, $delay) {
  animation-name: fade;
  animation-duration: $duration;
  animation-timing-function: ease-in;
  animation-delay: $delay;
  transform-origin: center;

  @keyframes fade {
    0% {
      opacity: 0;
    }
  
    80% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
}


@mixin darkTheme() {
  background: #202124;
  color: white;
}


@mixin flexCenter($direction) {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: $direction;
}


@mixin textTheme() {
  font-family: 'Ubuntu Mono', monospace;
  
  h1 {
    font-size: 2.5rem;
  }
  
  h4 {
    font-weight: normal;
    font-size: 1.2rem;
  }
}


body {
  @include darkTheme();
  @include textTheme();

  .content {
    @include flexCenter(column);
    min-height: 28rem;
    background-color: transparent;
    
    .animation-0 {
      @include fadeAndScale($duration: 2s, $delay: -1.3s);
    }

    .animation-1 {
      @include fade($duration: 1.1s, $delay: 0s);
    }

    .round-button {
      height: 3rem;
      width:  3rem;
      margin: 0.5rem;
    }
    
    #avatar {
      height: 13rem;
      width: 13rem;
      filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.15));
      margin: 0;
    }

    #name {
      margin: $marginSmall;
    }
    
    #subtitle {
      margin: $marginMedium;
      margin-top: $marginSmall;
    }

    #external-links {
      margin: $marginLarge;
    }
  }

  #background-particles {
    position: fixed;
    top: 0;
    z-index: -100;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}


